@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Roboto';

section {
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 500px){
  section{
    font-size: 20px;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}

.scroll-top-button {
  background-color: #ffffff;
  color: #73ad46;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.scroll-top-button:hover {
  background-color: #e8eddf;
  color: #73ad46;
}

.pos_btn {
  background-color: #73ad46;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 10px;
}

.pos_btn:hover {
  background-color: #609d37;
  cursor: pointer;
}

.neg_btn {
  background-color: #73ad46;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 10px;
}

.neg_btn:hover {
  background-color: #609d37;
  cursor: pointer;
}

.first-section .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .first-section .scroll-down {
    color: #73ad46;
    font-size: 30px;
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
  
  .first-section .arrow-container {
    width: 25px;
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
    height: 20px;
  }
  
  .first-section .arrow-down {
    height: 6px;
    background: #73ad46;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    border-radius: 5px;
  }
  
  .first-section .arrow-down:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: #73ad46;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }
  
  @keyframes bounce {
    50% {
      transform: translateY(-15px);
    }
  }
  

/* Recorder */

.elements{
  margin-bottom: 10px;
}

.recorder_wrapper {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.recorder {
    display: inline-block;
    text-align: center;
    width: 500px;
    max-width: 100%;
}

.record_btn {
    width: 100px;
    height: 100px;
    margin-bottom: 1em;
    font-family: 'Material Icons';
    font-size: 48px;
    color: #ffffff;
    background: none;
    border: 5px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s linear;
}

.record_btn:hover {
    color: #ff0000;
    transition: 0.15s linear;
    transform: scale( 1.05 );
}

.record_btn:active {
    background: #f5f5f5;
}

.record_btn:after {
    content: '\E029';
}

.record_btn[disabled] {
    border: 2px solid #ccc;
}

.record_btn[disabled]:after {
    content: '\E02B';
    color: #ccc;
}

.record_btn[disabled]:hover {
    transition: 0.15s linear;
    transform: none;
}

.record_btn[disabled]:active {
    background: none;
}

.recording {
    animation: recording 2s infinite ease-in-out;
    position: relative;
}

.recording:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-radius: 50%;
    background: rgba( 0, 0, 0, 0.05 );
    animation: recording_before 2s infinite ease-in-out;
}

@keyframes recording {
    from {
        transform: scale( 1.1 );
    }

    50% {
        transform: none;
    }

    to {
        transform: scale( 1.1 );
    }
}

@keyframes recording_before {
    80% {
        width: 200px;
        height: 200px;
        margin: -100px;
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.record_canvas {
    width: 60px;
    height: 100px;
    display: inline-block;
    
}

.txt_btn {
    color: #ffffff;
    text-decoration: none;
    transition: 0.15s linear;
    animation: text_btn 0.3s ease-in-out;
}